*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black: #070724;
  --grey: #38384f;
  --lightgrey: #838391;
  --skyblue: #419ebb;
  --orange: #eda249;
  --violet: #6f2ed6;
  --red: #d83a34;
  --burntorange: #cd5120;
  --teal: #1ec2a4;
}

body {
  background: #070724 url('./assets/background-stars.svg');
  height: 100vh;
  background-attachment: fixed;
  /* remove scroll bar for mobile */
  /* overflow: hidden; */
}

.container {
  margin: 1em 1.5em 1em 1.5em;
  /* ??? */
  height: calc(100% 2em);
}

hr {
  margin-left: -2em;
  margin-right: -2em;
  color: rgba(131, 131, 145, 0.4);
}

.header {
  height: 2.8em;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: 0;
  padding: 0;
}

/* hide the menu */
.menu {
  display: none;
}

.menu-btn {
  margin-top: 0.7em;
  width: 1.5em;
  height: 1.0625em;
  cursor: pointer;
  opacity: 24.87%;
}

.link {
  margin-right: 1.7em;
}

nav ul {
  margin-left: -0.5em;
  margin-top: 0;
  /* list is to the right.  bring it left. not sure why it went right.  this is my hack */
  /* margin-left: -2em; */
  top: 4.5em;
  left: 0;
  width: 100%;
  background-color: var(--black);
  height: 100vh;
  position: fixed;
  list-style-type: none;
}

.menu ul:first-child {
  padding-top: 1.5em;
}

nav ul a {
  margin: 0.3em 0 0.3em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.0625em;
  /* lasr param of rgba is opacity */
  border-bottom: 1px solid rgba(131, 131, 145, 0.4);
  color: var(--white);
  text-decoration: none;
  font-family: 'Spartan', sans-serif;
  font-weight: 600;
  font-size: 0.9375rem;
  letter-spacing: 1.36364px;
  /* line-height: 25px; */
  text-transform: uppercase;
}

ul:last-child li:last-child a {
  border-bottom: none;
}

.link-text {
  margin-top: 0.25em;
  margin-left: 2em;
  /* dot and chevron are flex-grow:0 
  & this is flex-grow: 1 so I guess it takes
  up all remaining spece? */
  flex-grow: 1;
}

.dot {
  content: '';
  margin: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

.dot-mercury {
  background-color: var(--white);
}
.dot-venus {
  background-color: #f7cc7f;
}
.dot-earth {
  background-color: #545bfe;
}
.dot-mars {
  background-color: #ff6a45;
}
.dot-jupiter {
  background-color: #ecad7a;
}
.dot-saturn {
  background-color: #fccb6b;
}
.dot-uranus {
  background-color: #65f0d5;
}
.dot-neptune {
  background-color: #497efa;
}

.menu-text {
  display: inline;
}

.chevron {
  display: inline-block;
  /* margin: 0 1.5em 0 0; */
  width: 0.4em;
  height: 0.58em;
  cursor: pointer;
}

/* buttons */

.buttons {
  display: flex;
  justify-content: space-between;
  background: none;
}

.ghost-button {
  /* display: inline-block; */
  /* width: 200px; */
  padding: 8px;
  color: var(--white);
  border: none;
  /* text-align: center; */
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  margin: 0.5em;
  opacity: 0.5;
}

.ghost-button:hover {
  border-bottom: 3px solid blue;
  margin: 0;
}

h1 {
  color: var(--white);
  font-weight: 400;
  font-family: 'Antonio', sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
}

/* h2 not inline with figma.  ok. */
h2 {
  color: var(--white);
  font-weight: 400;
  font-family: 'Antonio', sans-serif;
  font-size: 1.75rem;
  text-transform: uppercase;
}

p {
  color: var(--white);
  font-weight: 400;
  font-family: 'Spartan', sans-serif;
  font-size: 0.6875rem;
  /* text-transform: uppercase; */
  line-height: 179%;
  text-align: center;
}

/* font-family: 'Antonio', sans-serif; */
/* font-family: 'Spartan', sans-serif; */
