/* font-family: 'Antonio', sans-serif; */
/* font-family: 'Spartan', sans-serif; */

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black: #070724;
  --grey: #38384f;
  --lightgrey: #838391;
  --skyblue: #419ebb;
  --orange: #eda249;
  --violet: #6f2ed6;
  --red: #d83a34;
  --burntorange: #cd5120;
  --teal: #1ec2a4;
}

body {
  background: #070724 url('./assets/background-stars.svg');
  height: 100vh;
  background-attachment: fixed;
  /* stop scroll & remove scroll bar for mobile */
  /* overflow: hidden; */
}

.container {
  margin: 1em 1.5em 1em 1.5em;
  /* ??? */
  height: calc(100% 2em);
}

/* hr {
  margin-left: -2em;
  margin-right: -2em;
  margin-top: 0;
  color: rgba(131, 131, 145, 0.4);
  color: yellowgreen;
} */

.hr1 {
  margin-left: -2em;
  margin-right: -2em;
  margin-top: -0.35em;
  color: rgba(131, 131, 145, 0.4);
  z-index: 999;
}

.hr2 {
  margin-left: -2em;
  margin-right: -2em;
  margin-top: -0.35em;
  color: rgba(131, 131, 145, 0.4);
  /* z-index: 999; */
}

.header {
  height: 2.8em;
  display: flex;
  margin-bottom: 0.5em;
  justify-content: space-between;
}

.logo {
  margin-top: 0;
  padding: 0;
}

/* hide the menu */
/* .menu {
  display: none;
} */

.menu-btn {
  margin-top: 0.7em;
  width: 1.5em;
  height: 1.0625em;
  cursor: pointer;
  opacity: 24.87%;
}

.link {
  margin-right: 1.7em;
}

nav ul {
  margin-left: -0.5em;
  margin-top: -1.5em;
  /* list is to the right.  bring it left. not sure why it went right.  this is my hack */
  /* margin-left: -2em; */
  top: 4.5em;
  left: 0;
  width: 100%;
  background-color: var(--black);
  height: 100vh;
  position: fixed;
  list-style-type: none;
  transform: translateX(100%);
  transition: transform 0.3s;
}

.menu ul:first-child {
  margin-top: 0.5em;
  padding-top: 1em;
  border-top: 1px solid rgba(131, 131, 145, 0.4);
}

/* display: block; allows padding styling on a <a> */
/* nav ul li a {
  display: block;
  padding: 1em;
} */

nav ul a {
  margin: 0.3em 0 0.3em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.0625em;
  /* last param of rgba is opacity */
  border-bottom: 1px solid rgba(131, 131, 145, 0.4);
  color: var(--white);
  text-decoration: none;
  font-family: 'Spartan', sans-serif;
  font-weight: 600;
  font-size: 0.9375rem;
  letter-spacing: 1.36364px;
  /* line-height: 25px; */
  text-transform: uppercase;
}

ul:last-child li:last-child a {
  border-bottom: none;
}

.link-text {
  margin-top: 0.25em;
  margin-left: 2em;
  /* dot and chevron are flex-grow:0 
  & this is flex-grow: 1 so I guess it takes
  up all remaining spece? */
  flex-grow: 1;
}

.dot {
  content: '';
  margin: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

.dot-mercury {
  background-color: var(--white);
}
.dot-venus {
  background-color: #f7cc7f;
}
.dot-earth {
  background-color: #545bfe;
}
.dot-mars {
  background-color: #ff6a45;
}
.dot-jupiter {
  background-color: #ecad7a;
}
.dot-saturn {
  background-color: #fccb6b;
}
.dot-uranus {
  background-color: #65f0d5;
}
.dot-neptune {
  background-color: #497efa;
}

.menu-text {
  display: inline;
}

.chevron {
  display: inline-block;
  /* margin: 0 1.5em 0 0; */
  width: 0.4em;
  height: 0.58em;
  cursor: pointer;
}

/* buttons */

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: -0.3em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  margin-bottom: -0.1em;
}

/* rename button? */
.ghost-button {
  color: var(--white);
  border: 4px solid rgba(0, 0, 0, 0);
  display: inline-block;
  margin: 1.25em 0 0 0;
  font-size: 0.5625rem;
  font-family: spartan;
  font-weight: 700;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0.5;
}

.ghost-button:after {
  display: block;
  content: '';
  padding: 0.75em;
  margin: 0;
  border-bottom: solid 3px var(--skyblue);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.ghost-button:hover:after {
  transform: scaleX(1);
}

.ghost-button:hover {
  opacity: 1;
}

.planet-img {
  width: 6.9375em;
}

h1 {
  color: var(--white);
  font-weight: 400;
  font-family: 'Antonio', sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
}

/* h2 not inline with figma.  ok. */
h2 {
  color: var(--white);
  font-weight: 400;
  font-family: 'Antonio', sans-serif;
  font-size: 1.75rem;
  text-transform: uppercase;
}

p {
  color: var(--white);
  font-weight: 400;
  font-family: 'Spartan', sans-serif;
  font-size: 0.6875rem;
  /* text-transform: uppercase; */
  line-height: 179%;
  text-align: center;
}

/* section.content */

.content {
  /* display: none; */
  display: flex;
  flex-direction: column;
}

.content .flex-item {
  align-self: center;
}

.planet-img {
  margin-top: 5.5375em;
  margin-bottom: 5em;
}

.content h1 {
  margin: 0 0 0.2em 0;
}

.content p {
  margin-bottom: 2.5em;
}

/* removes the underline from the link text  */
.source {
  text-decoration: none;
  margin-bottom: 0.75em;
}

/* kept  */
.source-text {
  color: var(--white);
  font-size: 0.75rem;
  font-weight: 400;
  font-family: spartan;
  opacity: 0.5;
}

.wikipedia {
  color: var(--white);
  font-size: 0.75rem;
  font-weight: 700;
  font-family: spartan;
  opacity: 0.5;
  text-decoration: underline;
}

.infotangle:last-child {
  margin-bottom: 2.5em;
}

.infotangle-container-flex {
  margin-top: 1.25em;
  margin-bottom: -0.6em;
  margin-left: -0.75em;
  margin-right: -0.75em;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ffffff55;
  text-transform: uppercase;
  height: 3.25em;
}

.infotangle-title {
  margin-left: 2.25em;
  margin-top: 2.25em;
  color: var(--white);
  font-size: 0.55rem;
  font-weight: 700;
  font-family: spartan;
  letter-spacing: 0.727273px;
  opacity: 0.5;
}

/* made it a span because styles were not being applied with a <p>  Global Style??? */
.infotangle-content {
  margin-top: 0.5em;
  margin-right: 1.5em;
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 400;
  font-family: Antonio;
  /* letter-spacing: 0.75px; */
}
